nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    list-style: none;
    font-size: 20px;
}

nav h1{
    font-size: 30px;
    background: linear-gradient(to right,rgb(66, 180, 205),white);
    background-clip: text;
    color: transparent;
}